.header{
  display: flex;
  justify-content: center;
  
  .header__img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 200px;
    background-color: $colour-background-right;
    .asideSection__photo {
      width: 150px;
      height: 150px;
      border-radius: 50%;
    }
    @media screen and (max-width: 900px) {
      width: 100%;
    }
  }
  .header__title {
    width: 70%;
    padding: 0 35px;
    margin-top: 4%;
    .header__FirstName {
      color: $colour-background-right;
    }
    @media screen and (max-width: 900px) {
      margin: 4% auto;
      text-align: center;
    }
  }
  @media screen and (max-width: 900px) {
    flex-direction: column;
  }
}

