
.block-right {
  width: 70%;
  &__ligne {
    display: flex;
    padding: 2px;
    margin-top: 4px;/*5px*/
  }
  &__formation {
    display: flex;
    margin-top: 10px;
  }
  &__title {
    margin: 0 5px 10px 5px;
  }
  &__pro {
    margin: 10px;
  }
  &__point {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    border: 2px solid $colour-text-left;
    margin-top: 25px;
    margin-left: 40px;
  }
  &__cercle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 1px solid $colour-text-left;
    margin: -7px;
  }
  &__gauche {
    width: 30%;
    margin: 10px 10px;
  }
  &__droite {
    width: 100%;
    margin: 5px 10px; /*margin: 5px 30px; */
  }
}
.block-right__formation,
.block-right__experience {
  margin-top: 10px; /*margin-top: 30px;*/
}

.block-right__gauche,
.block-right__droite {
  margin: 10px 25px;
}
.fas {
  color: $colour-text-left;
  font-size: 30px; 
  margin: 0 10px 0 50px;
 }

@media screen and (max-width: 900px) {
  .block-right{
    width: 100%;
  }
}
@media screen and (max-width: 320px) {
  .block-right__gauche {
    margin: 20px 10px;
  }
  .block-right__droite {
    margin: 20px 15px;
  }
}