* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: auto;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
}
h1 {
  text-transform: uppercase;
  font-size: 2.2rem;
}
h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
}
h2 span {
  color: black;
  text-decoration: $colour-text-left underline;
  text-underline-position: under;

}
h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.block-right__title {
  color: $colour-text-left;
}
hr {
  border: none;
  background: $colour-text-left;
  height: 2px;
  margin: 0 20px;
}
p {
  font-size: 1.2rem;
}
.block__text {
  font-size: 0.8rem;
}
span {
  font-weight: 700;
}
.color__entete {
  color: $colour-text-left;
}
.container {
  display: flex;
}

