$colour-header: rgb(228, 202, 169);
$colour-title: rgb(255, 255, 255);
$colour-text-left: rgb(243, 101, 7);
$colour-text-right: rgb(15, 15, 15);
$colour-background-left: rgb(15, 15, 15);
$colour-background-right: rgb(243, 101, 7);
